.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(var(--foreground), 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--foreground), 0.1) 1px, transparent 1px);
}

.bg-dots-pattern {
  background-image: radial-gradient(rgba(var(--foreground), 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}
